/* style sheet for Project 2.
	Created by Ashley Schaefer
*/


		
/*body*/
	body{
	background-color: red;
		}
		
		
/*wrapper*/
	#wrapper{
		background-color: #000;
		color: #fff;
		width: 900px;
		margin: auto;
		padding: 15px 20px 15px 20px;
		border: 1px solid #fff;
		border-radius:20px;
			-moz-border-radius:20px;
			-webkit-border-radius:20px;
		}



	
	h1{
		color: green;
		
		}