/* style sheet for Project 2.
	Created by Ashley Schaefer
*/

@font-face {
	font-family: 'Pristina-Regular';
		src: url('fonts/Pristi/pristina.eot');
		src: url('fonts/Pristi/pristina.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Pristi/pristina.woff') format('woff'),
			 url('fonts/Pristi/pristina.ttf') format('truetype'),
			 url('fonts/Pristi/pristina.svg#pristina') format('svg');
	font-weight: normal;
	font-style: normal;
		}

/*body*/
	body{
	background-color: red;
		}
		
		
/*wrapper*/
	#wrapper{
		background-color: #000;
		color: #fff;
		width: 900px;
		margin: auto;
		padding: 15px 20px 15px 20px;
		border: 1px solid #fff;
		border-radius:20px;
			-moz-border-radius:20px;
			-webkit-border-radius:20px;
		}


	h1{
		font-family: 'Pristina-Regular';
		font-weight: normal;
	}