/* style sheet for Project 3.
	Created by Ashley Schaefer
*/

@font-face {
    font-family: 'ellianarelles_pathregular';
    src: url('../fonts/ellianarelle_s_path-webfont.eot');
    src: url('../fonts/ellianarelle_s_path-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ellianarelle_s_path-webfont.woff') format('woff'),
         url('../fonts/ellianarelle_s_path-webfont.ttf') format('truetype'),
         url('../fonts/ellianarelle_s_path-webfont.svg#ellianarelles_pathregular') format('svg');
    font-weight: normal;
    font-style: normal;
		}
		
/*body*/
	body{
	background-color: #000;
	background: linear-gradient(#000, #252525);
		}
		
		
/*wrapper*/
	#wrapper{
		background-color: hsla(0, 0%, 100%, 0.14);
		background-image: url("../images/camera.png");
		background-repeat: no-repeat;
		background-position:0px 10px;
		color: #fff;
		font-family: sans-serif;
		width: 900px;
		margin: auto;
		padding: 15px 20px 15px 20px;
		border: 1px solid #fff;
		border-radius:20px;
			-moz-border-radius:20px;
			-webkit-border-radius:20px;
		box-shadow:0 0 20px #47f0ff;	
			-webkit-box-shadow:0 0 20px #47f0ff; 
			-moz-box-shadow: 0 0 20px #47f0ff; 
		
		}
	
	h1{
		text-align: center;
		font-size: 350%;
		font-family: 'ellianarelles_pathregular', sans-serif;
		}
	h2{
		font-size: 110%;
		background: #000;
		padding-left: 10px;
		padding-top: 10px;
		height: 25px;
		margin-top: 50px;
		}
	h3{
		font-size: 100%;
		background: #000;
		padding-left: 10px;
		padding-top: 10px;
		height: 25px;
		margin-top: 50px;
		}
	p{
		line-height: 130%;
		}

	blockquote{
		font-style: italic;
		}
	
	ol li{
		list-style-type: upper-roman;
		}
		
/*Navigation*/
	#navigation{
		text-align: center;
		font-size: 22px;
		font-weight: bold;
		color: #47f0ff;
		}

	#navigation li{
		display: inline-block;
		vertical-align: top;
		width: 160px;
		
		}
		
		a:link{text-decoration: none;
			color: #47fcff;}
		a:visited{color: #fff;}
		a:hover{text-shadow: 0 0 10px #fff;}
		a:active{color: #ff24de;}
		
/*About Section*/
	#about {
		float: left;
		width:550px;
		margin: 10px;
		}
		
	#myPic {
		float: left;
		margin: 20px;
		padding-top: 30px;
		}
		
	
	#equipment {
		clear: both;
		}	
	
/*Images*/
	img{
		border-radius:20px;
			-moz-border-radius:20px;
			-webkit-border-radius:20px;
		}
	
	
		a:hover img{box-shadow: 0 0 10px #fff;}
		
	#column1Images{
		width: 400px;
		margin: 10px;
		float: left;
		}
		
	#column2Images{
		width:400px;
		margin: 10px;
		float: left;
		}

/*Footer*/
	#footer {
		clear: both;
		padding-top: 75px;
		background-image: url("../images/cameraSmall.png");
		background-repeat: repeat-x;
		background-position: 0, 0;
		text-align: center;
		}